html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(255, 255, 255);
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 0;
}

/* header */
.container-header {
  width: 100%;
  height: 50vh;
  background-color: transparent;
}

.container-header img {
  position: absolute;
  top: 1%;
  left: 1%;
}

.logoInicio {
  margin: 0;
  width: 7em;
  height: 2.5em;
}

/* nav */
.navClass {
  width: 100%;
  height: inherit;
  margin: 0;
  padding: 0;
  /* background-color: rgb(6, 131, 89); */
  position: relative;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navClass a {
  padding: 0.5em;
  color: rgb(255, 155, 41);
}

/* contenido */
.contenido {
  width: 100%;
  height: inherit;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* sponsors */
.sponsors {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100vw;
  height: 300px;
  margin-top: 10vh;
}

.sponsors>img {
  position: absolute;
  top: 0;
  left: calc(50% - 100px);
  opacity: 0;
  animation: carrusel 10s infinite;
}

img:nth-child(2) {
  animation-delay: 2s;
}

img:nth-child(3) {
  animation-delay: 4s;
}

img:nth-child(4) {
  animation-delay: 6s;
}

img:nth-child(5) {
  animation-delay: 8s;
}

.sponsors img {
  width: 10em;
  height: 10em;
  margin: 2em;
  border-radius: 50%;
}


@keyframes carrusel {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }

  10% {
    transform: translateX(0);
    opacity: 1;
  }

  20% {
    transform: translateX(0);
    opacity: 1;
  }

  30% {
    transform: translateX(-200px);
    opacity: 0;
  }

  100% {
    transform: translateX(-200px);
    opacity: 0;
  }
}

/* galeria noticias */
.miniaturas img {
  width: 21.813em;
  height: 7.313em;
}

/* footer */
.container-footer {
  height: 5em;
  background-color: rgba(0, 0, 0, 0.85);
}