html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: gray;
}

.contenido {
  background-color: rgba(219, 11, 42, 0.85);
  margin: 0;
}

h1 {
  margin: 0;
}

.navClass {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 2%;
  transform: translateY(-50%);
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navClass a {
  padding: 0.5em;
  color: rgb(255, 155, 41);
}
