html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: gray;
  scroll-behavior: smooth;
}

.logoInicio {
  margin: 0;
  width: 7em;
  height: 2.5em;
}

h1 {
  margin: 0;
}

.container-header {
  width: 100%;
  height: 100%;
  /* position: fixed; */
  /* background-color: rgb(52, 73, 94); */
}

.navClass {
  margin: 0;
  padding: 0;
  position: relative;
  top: 2%;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navClass a {
  padding: 0.5em;
  color: rgb(255, 155, 41);
}

/* contenido */
/* guardar por si en algun momento puedo arreglarlo
.contenido-slide {
  width: 100%;
  height: 100vh;
} */

.contenido {
  width: 100%;
  height: inherit;
  background-color: rgba(219, 11, 42, 0.85);
}

.container-seccion {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap; /* activar para que todo vaya sobre una linea */
  justify-content: space-around;
  text-align: center;
}

/* sponsors */
.container-seccion div {
  flex: 1;
  margin: 2em;
  padding: 1em;
  border: 0.3em dotted black;
}

.sponsors img {
  width: 7em;
  height: 7em;
  border-radius: 50%;
}

/* galeria noticias */
.miniaturas img {
  width: 21.813em; /* AHJDJA SON LAS MEDIDAS PERFECTAS EN EM DE LOS PX*/
  height: 7.313em;
}

/* footer */
.container-footer {
  height: 5em;
  background-color: rgba(0, 0, 0, 0.85);
}
