.container-bienvenida {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  font-size: 120px;
  color: white;
  background-image: url(/assets/img/Necesarias/IMG-20220822-WA0065.jpg);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  animation: animacion 3s ease-in-out alternate infinite;
}

@keyframes animacion {
  from {
    background-position: center 20%;
  }
  to {
    background-position: center 60%;
  }
}

/*
preguntar por media query
@media screen and (max-width: 768px) {
  .container-saludo {
    font-size: 1em;
  }
}
*/
