.container-saludo {
  position: absolute;
  top: 5%;
  left: 12%;
  transform: translate(-50%, -50%);
  height: 4em;
  overflow: hidden;
  font-size: 1.5em;
  line-height: 1.5em;
  color: rgb(236, 240, 241);
}

.container-saludo .container-contenido {
  font-weight: 600;
  overflow: hidden;
  height: 3.5em;
  padding: 0 1em;
}

.container-saludo .container-contenido-texto {
  display: inline;
  float: left;
  margin: 0;
}

.container-saludo .container-contenido-lista {
  margin-top: 0;
  padding-left: 2em;
  text-align: right;
  list-style: none;
  animation-name: traslasion;
  animation-duration: 12s;
  animation-iteration-count: infinite;
}

.container-saludo .container-contenido-frase {
  line-height: 5em;
  margin: 0;
}

@keyframes opacidad {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes traslasion {
  0%,
  12.66%,
  100% {
    transform: translate3d(0, 0, 0);
  }
  16.66%,
  29.32% {
    transform: translate3d(0, -25%, 0);
  }
  33.32%,
  45.98% {
    transform: translate3d(0, -50%, 0);
  }
  49.98%,
  62.64% {
    transform: translate3d(0, -75%, 0);
  }
  66.64%,
  79.3% {
    transform: translate3d(0, -100%, 0);
  }
  83.3%,
  95.96% {
    transform: translate3d(0, -25%, 0);
  }
}

/*
preguntar por media query
@media screen and (max-width: 768px) {
  .container-saludo {
    font-size: 1em;
  }
}
*/
